@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 153 43% 7%;
  --foreground: 144 10% 98%;
  --card: 153 45% 5%;
  --card-foreground: 144 10% 98%;
  --popover: 153 45% 5%;
  --popover-foreground: 144 10% 98%;
  --primary: 35 100% 50%;
  --primary-foreground: 144 10% 98%;
  --secondary: 153 30% 12%;
  --secondary-foreground: 144 10% 98%;
  --muted: 153 30% 12%;
  --muted-foreground: 144 5% 65%;
  --accent: 35 100% 50%;
  --accent-foreground: 144 10% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 144 10% 98%;
  --border: 153 30% 12%;
  --input: 153 30% 12%;
  --ring: 35 100% 50%;
}

body {
  @apply bg-background text-foreground overscroll-none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar while allowing scrolling */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}